# Folder z zależnościami npm (BARDZO WAŻNE)
node_modules/

# Ciężkie zasoby graficzne i dane inwestycji


# Pliki konfiguracyjne i lokalne
*.json
*.txt
iframe-test.html
Thumbs.db

# Wyjątek: NIE ignoruj kluczowego pliku manifestu npm!
!package.json
!package-lock.json